{% extends 'base.html.twig' %}

{% block title %}Genus{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="genus-name">Genuses List App</h2>

        <div class="sea-creature-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Genus</th>
                        <th># of species</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for genus in genuses %}
                        <tr>
                            <td>
                                <a href="{{ path('genus_show', { 'geniusName': genus.name }) }}">
                                    {{ genus.name }}
                                </a>
                            </td>
                            <td>{{ genus.speciesCount }}</td>
                            <td>{{ genus.updatedAt | date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}